@font-face {
  font-family: 'Pretendard800';
  font-weight: 800;
  src: url('./Assets/fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard700';
  font-weight: 700;
  src: url('./Assets/fonts/Pretendard-Bold.woff');
}

@font-face {
  font-family: 'Pretendard600';
  font-weight: 600;
  src: url('./Assets/fonts/Pretendard-SemiBold.woff');
}

@font-face {
  font-family: 'Pretendard500';
  font-weight: 500;
  src: url('./Assets/fonts/Pretendard-Medium.woff');
}

@font-face {
  font-family: 'Pretendard400';
  font-weight: 400;
  src: url('./Assets/fonts/Pretendard-Regular.woff');
}

@font-face {
  font-family: 'Pretendard300';
  font-weight: 300;
  src: url('./Assets/fonts/Pretendard-Light.woff');
}

@font-face {
  font-family: 'Pretendard200';
  font-weight: 200;
  src: url('./Assets/fonts/Pretendard-ExtraLight.woff');
}
